.popup__input-error {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  position: absolute;
  top: 32px;
  left: 0;
  display: none;
  z-index: 1;
}