.header__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  text-decoration: none;
  transition: .3s;
}

.header__link:hover {
  opacity: .8;
  cursor: pointer;
}